.widget-camviewer .view-buttons-container {
  display: flex;
}


.widget-camviewer .jimu-widget{
  display: flex;
  text-align: center;
  color: var(--dark);
}

.widget-camviewer-not-configured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--light);
  color: var(--dark);
}

.widget-camviewer .view-button {
  text-align: center;
  cursor: pointer;
  /* Default state using theme variables */
  background-color: transparent;
  color: var(--dark);
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  gap: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  size: auto;
  height: auto;
  width: auto;
  button {
    background-color: var(--light);
    color: var(--dark);
  }
}